/*
	colors: ff4e00 (orange), 000c40 (blue), ffffff (white, obviously)
	font size: 1.18 * height of M (in mm)
	element height: 1.2 * font size (in mm)
*/

#output-panel {
	display: block;
	width: 960px;
	height: 960px;

	font-family: 'Roboto Slab', sans-serif;
}




#output-header {
	height: 140px;
	background-color: #fe4c02;

}


/********************************************************************/
#output-tvv-heading {
	color: #000c40;
	font-size: 60px;
	float: left;
	text-transform: uppercase;
}

#output-dates, #output-vedator-fb-link {
	color: #ffffff;
	display: block;
	font-size: 22px;
}

#output-vedator-fb-img {
	height: 1em;
}


/********************************************************************/
#output-posts {
	padding: 0;
	margin: 0;
	list-style: none;
}

.output-post {
	clear: both;
}

.output-post-image {
	width: 120px;
	float: left;
}

.output-post-title {
	display: block;
	font-size: 31px;
}


/********************************************************************/




