.most-of-hight {
	display: block;
	height: 90%;
}

.inline {
	display: inline-block;
}



/**********************************************************/


label {
	display: block;
	min-width: 20%;
	float: left;
	clear: both;
}

input, textarea {
	display: block;
	padding: 5px;
	margin: 1% 0.2eM;
}

/**********************************************************/

input {
	min-width: 20%;
}

input[type="submit"] {
	min-width: 10%;
}

input[type="url"] {
	min-width: 40%;
}
/**********************************************************/

textarea {
	font-family: inherit;
	min-width: 40%;
	height: 4eM;
}

textarea.big {
	height: 10eM;
}

textarea.monospaced {
	font-family: monospace;
}
