.most-of-hight {
	display: block;
	height: 90%;
}

.inline {
	display: inline-block;
}


/**********************************************************/

fieldset {
	display: block;
	margin: 0.5eM 1%;
}

label {
	display: block;
	min-width: 10%;
	padding: 0.5eM 0.5%;
	margin: 0.5% 0.2eM;
	float: left;
	clear: both;
}

input, select, textarea {
	display: block;
	min-width: 20%;
	padding: 0.5eM 0.5%;;
	margin: 1% 0.2eM;
}

/**********************************************************/

input[type="submit"], button {
	min-width: 10%;
}


