[submodule "_internal/fb-site-admin"]
	path = _internal/fb-site-admin
	url = https://github.com/martlin2cz/fb-page-calendar.git
[submodule "nanotube-cms"]
	path = nanotube-cms
	url = https://github.com/martlin2cz/nanotube-cms
[submodule "xmasgen"]
	path = koledy
	url = ssh://57df9aab89f5cf64df0000fe@xmasgen-martlins.rhcloud.com/~/git/xmasgen.git/
[submodule "_internal/online-image-cropper"]
	path = _internal/online-image-cropper
	url = https://github.com/martlin2cz/online-image-cropper
[submodule "_internal/prednasky-gen-v2/streeting"]
	path = _internal/prednasky-gen-v2/streeting
	url = https://github.com/martlin2cz/streeting
[submodule "_internal/tvv-gen-v2/streeting"]
	path = _internal/tvv-gen-v2/streeting
	url = https://github.com/martlin2cz/streeting
[submodule "_internal/dvv-gen/streeting"]
	path = _internal/dvv-gen/streeting
	url = https://github.com/martlin2cz/streeting
[submodule "_internal/rvv-gen/streeting"]
	path = _internal/rvv-gen/streeting
	url = https://github.com/martlin2cz/streeting
[submodule "_internal/rvv-gen-v2/streeting"]
	path = _internal/rvv-gen-v2/streeting
	url = https://github.com/martlin2cz/streeting
[submodule "_internal/expect-real-gen/streeting"]
	path = _internal/expect-real-gen/streeting
	url = https://github.com/martlin2cz/streeting
[submodule "_internal/karty-predmetu-gen/streeting"]
	path = _internal/karty-predmetu-gen/streeting
	url = https://github.com/martlin2cz/streeting
[submodule "_internal/tvm-gen-v2/streeting"]
	path = _internal/tvm-gen-v2/streeting
	url = https://github.com/martlin2cz/streeting
[submodule "_internal/tvv-gen-v3/streeting"]
	path = _internal/tvv-gen-v3/streeting
	url = https://github.com/martlin2cz/streeting
[submodule "_internal/tvv-gen-v4/streeting"]
	path = _internal/tvv-gen-v4/streeting
	url = https://github.com/martlin2cz/streeting
