[submodule "_internal/fb-site-admin"]
	path = _internal/fb-site-admin
	url = https://github.com/martlin2cz/fb-page-calendar.git
[submodule "nanotube-cms"]
	path = nanotube-cms
	url = https://github.com/martlin2cz/nanotube-cms
[submodule "xmasgen"]
	path = koledy
	url = ssh://57df9aab89f5cf64df0000fe@xmasgen-martlins.rhcloud.com/~/git/xmasgen.git/
