/*
 * Styles of web.
 * m@rtlin, 18. 8. 2016
 */

/* *** whole page styles */
html, body {
	padding: 0;
	margin: 0;

	
	font-family: Verdana, Geneva, sans-serif;	/* TODO FIXME */
	background: url('../images/background.jpg');
	color: #000C40;	
}

a {
	text-decoration: none;
	color: #000C40;
}

a:hover {
/*text-decoration: underline;*/
	color: #FF4D00;
}

strong {
	color: #FF4D00;
}


/* *** template styling */
/* ** header */
header {
	display: block;
	background-color: rgba(255, 255, 255, 1.0);
	
	min-height: 3eM;
	width: 96%;
	padding: 1eM 2%;
	border-bottom: 4px solid #FF4D00;
}

header h2 {
	display: block;
	float: left;

	vertical-align: middle;
	
	margin: 0;
	padding-right: 2eM;
}

#main-logo {
	height: 3eM;
}

/* * menu */
nav {
	padding-top: 2eM;
}

nav ol {
	display: block;
	float: right;
	
	margin: 0;
	padding-left: 0;
}

nav ol li {
	display: inline;
	padding-left: 1eM;

	font-weight: bold;
}


/* ** articles */
main {
	clear: both;
	padding: 5%;
}

article {
	background-color: #FFFFFF;
	padding: 0 5%;
	margin-bottom: -2eM;	/* WTF? */
}

article h2 {
	padding-top: 1eM;

}

article section {
	padding-bottom: 1eM;
	border-bottom: 1px solid #000C40;
	margin-bottom: 2eM;
}

.article-header-buttons {
	display: none;
	padding-left: 0.5eM;
}

.article-header-buttons a {
	padding-left: 0.5eM;
	font-size: 80%;
}

/* ** footer */
footer {
	background-color: #FFFFFF;
	padding: 1eM 5%;
	text-align: right;
	color: lightgray;
}

/* *** additional styling */
.header-replacement {
}

.header-floating {
	position: absolute;	
}

/* *** styling of article's contents */

article a {
	font-weight: bold;
}

/* ** gallery styling */
.gallery {
	text-align: center;
}

.thumbnail-6 {
	vertical-align: middle;
	height: 6eM;
}

.thumbnail-8 {
	vertical-align: middle;
	height: 8eM;
}
